<div class="text-white container parent w-75 p-5 mt-5 overflow-hidden">
    <div class="w-100 text-center">
        <img src="images/logo.png" class="w-25">
        <h1 class="text-center">Sports List</h1>
    </div>
    <div class="container w-100">
      <div class="row w-100 input">
        <div class="col-sm-12 col-md-7 col-lg-9">
          <input type="text" class="form-control text-white w-100 d-block" id="sport" required placeholder="New Sport..." [(ngModel)]="sportValue">
        </div>
        <div class="col-sm-12 col-md-5 col-lg-3">
          <button class="btn btn-primary w-100" (click)="addToSports(sportValue)" [disabled]="sportValue===''">ADD</button>
        </div>
      </div>
    </div>
    @if(sports.length!=0)
    {
        <div class="col-md-12 gap-2 mt-3">
            <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th class="text-center">NO.</th>
                    <th class="text-center">Sport</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sport of sports;let i=index">
                    <th class="text-center">{{i+1}}</th>
                    <th class="text-center">{{sport}}</th>
                    <th class="text-center">
                        <i class="fa-solid fa-xmark text-danger" (click)="removeSport(sport)"></i>
                    </th>
                  </tr>
                </tbody>
            </table>
        </div>
    }
</div>